<h1>APInception</h1>
<iframe src="https://giphy.com/embed/9mmWez1yhWNXO" width="480" height="201" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<div>
  <% url = 'https://catalog.gmu.edu/ribbit/?page=getprogram.rjs&code=*' %>
  <% response = Nokogiri::XML(open(url)) %>

  <% response.xpath('programinfo/program').each do |program| %>
    <% code = program.attribute('code') %>
    <%= content_tag :p, link_to(program.xpath('title').inner_html, "https://catalog.gmu.edu/ribbit/?page=getprogram.rjs&code=#{code}") %>
  <% end %>
</div>