<p id="notice"><%= notice %></p>

<h1>Programs</h1>

  <% @programs.group_by(&:barebones_title).each do |barebones_title, programs| %>
    <p><%= barebones_title %>, <% programs.each do |program| %><%= link_to program.interpreted_degree, program %><%= ', ' unless program == programs.last %><% end %></p>
  <% end %>

<br>
