<p id="notice"><%= notice %></p>

<h1>Programs</h1>

    <% @programs.each do |program| %>
        <p><%= link_to program.title, program %> (updated <%= program.updated_at %>)</p>
    <% end %>

<br>
